<div class="card mb-3" style="max-width: 540px;" data-id={{id}}>
    <div class="row g-0">
        <div class="col-md-4">
            {{#if dog.pic}}
            <img src="{{dog.pic}}" alt="Puppy Profile Pic">
            {{else}}
            <img src="./images/icons/noun_Dog_1539664_sm.png" alt="Park Pack icon">
            {{/if}}
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{dog.name}}</h5>
                <ul class="card-text">
                    <li>{{dog.gender}}</li>
                    <li>{{dog.fixed}}</li>
                    <li>{{dog.age}}</li>
                    <li>{{dog.weight}}</li>
                    <li>{{dog.breed}}</li>
                    <li>{{dog.energy}}</li>
                    <li>{{dog.activity}}</li>

                </ul>

            </div>
        </div>
    </div>
</div>