<div class="card mb-3" style="max-width: 540px;" data-id={{id}}>
    <div class="row g-0">
        <div class="col-md-4">
            {{#if pic}}
            <img src="{{pic}}" class="img-fluid" alt="Puppy Profile Pic">
            {{else}}
            <img src="./images/icons/noun_Dog_1539664_sm.png" alt="Park Pack icon">
            {{/if}}
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <div class="mb-3 form-group">
                    <ul class="card-text list-unstyled">
                        <li>Gender: {{gender}}</li>
                        <li>Fixed: {{fixed}}</li>
                        <li>Age: {{age}}</li>
                        <li>Weight: {{weight}}</li>
                        <li>Breed: {{breed}}</li>
                        <li>Energy Level: {{energy}}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-action addpack" id="addpack" data-user={{user_id}}>Add to My Pack</button>
                     {{!-- <button type="submit" class="btn btn-action">Login!</button> --}}
                </div>
                <div class="form-group">
                   
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/profilecard.js"></script>