<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 window">
        <h2 class="pageTitles formh2">About {{name}}</h>
            <hr>
            {{#if pic}}
            <img src="{{pic}}" class="img-fluid rounded-circle" alt="doggy profile image" id="dogProfImg">
            {{else}}
            <img src="/images/icons/parkpackicon.png" class="img-fluid" alt="placeholder image" id="dogprofilepic">
            {{/if}}

            <p>Hi my name is {{name}}! I'm a {{age}}-year-old {{gender}} {{breed}} who loves to play! Let's be friends!
            </p>

            {{!-- <h2>About my Pet-Parent!</h2> --}}
            <div class="form-group">
                {{!-- <a href="/mypack"><button type="submit" class="btn btn-action" id="addpack">View My
                        Pack!</button></a> --}}
                <div class="form-group">
                    <button type="submit" class="btn btn-action addpack" id="addpack" data-user={{user_id}}>Add to My
                        Pack<i class="fas fa-heart ms-3"></i></button>
                </div>

                <div class="form-group">
                <a href="/dashboard"><button type="submit" class="btn btn-action" id="addpack">Dashboard<i
                            class="fas fa-paw ms-3"></i></button></a>
                </div>
            </div>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>