<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 window">
        <h2 class="pageTitles formh2">About {{name}}</h>
            <hr>
            <img src="{{ get_dog_pic user_id pic }}" class="img-fluid" alt="Puppy Profile Pic">

            <p>Hi my name is {{name}}! I'm a {{age}}-year-old {{gender}} {{breed}} who loves to play! Let's be friends!
            </p>

            
            <div class="form-group">
              
                <div class="form-group">
                    <button type="submit" class="btn btn-action addpack" id="addpack" data-user={{user_id}}>Add to My
                        Pack<i class="fas fa-heart ms-3"></i></button>
                </div>

                <div class="form-group">
                <a href="/dashboard"><button type="submit" class="btn btn-action" id="addpack">Dashboard<i
                            class="fas fa-paw ms-3"></i></button></a>
                </div>
            </div>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>