{{!-- user's dog's profile information --}}
{{#each dogs}}
<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 window">
        <h2 class="pageTitles formh2">About {{name}}</h>
            <hr>
            {{#if pic}}
            <img src="{{pic}}" class="img-fluid rounded-circle" alt="doggy profile image" id="dogProfImg">
            {{else}}
            <img src="/images/icons/parkpackicon.png" class="img-fluid" alt="placeholder image" id="dogprofilepic">
            {{/if}}

            <p>Hi my name is {{name}}! I'm a {{age}}-year-old {{gender}} {{breed}} who loves to play! Let's be friends!
            </p>

            
            <div class="form-group">
                
                <a href="/chat
                    "><button type="submit" class="btn btn-action" id="addpack">Chat<i
                            class="fas fa-comments ms-3"></i></button></a>
                <a href="/dashboard"><button type="submit" class="btn btn-action" id="addpack">Dashboard<i
                            class="fas fa-paw ms-3"></i></button></a>
            </div>
    </div>
    {{/each}}